body {
  background-color: #fefefe;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

a {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: underline;
}

.sticky-nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  padding: 1rem;
  color: #fff;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #69c4cd;
}

.container {
  max-width: 960px;
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
}

.button.btn-outline {
  border: 1px solid #f39021;
  background-color: transparent;
  color: #f39021;
}

.button.btn-outline:hover {
  background-color: #f39021;
  color: rgba(255, 255, 255, 0.8);
}

.body {
  font-size: 16px;
}

.hero-overlay {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.centered-container {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.hero-image {
  width: 400px;
  margin-bottom: 1rem;
}

.hero-intro {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.uses-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.use {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 100%;
  min-height: 3rem;
  margin-right: 5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.use.use__last-item {
  margin-right: 0rem;
}

.quarter-block__desktop {
  width: 25%;
  padding-right: 1rem;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.half-block__desktop {
  width: 50%;
}

.footer-list {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.h3 {
  margin-bottom: 0px;
  font-size: 1rem;
  line-height: 1.5;
}

.var-m-bottom_medium {
  margin-bottom: 0.5rem;
}

.footer-list__a {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: hsla(0, 0%, 100%, 0.8);
  text-decoration: none;
}

.footer-list__a:hover {
  color: #f39021;
  text-decoration: underline;
}

.horiztonal-rule {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: none;
  border-left-style: none;
}

.section {
  position: relative;
  padding: 6rem 1rem;
}

.section.section-dark {
  background-color: #000;
  color: #fff;
}

.branding {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.branding_img {
  width: 60px;
  height: 60px;
}

.branding_a--block {
  padding: 0.5rem;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-size: 4rem;
  line-height: 1.5;
}

.team-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.team-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.team-card.var-m-right_medium {
  margin-right: 1rem;
}

.team-avatar {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-avatar.leon-do {
  background-image: url('../images/leon-do.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-avatar.randy-daniel {
  background-image: url('../images/Randy.jpg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-blurb {
  margin-top: 1rem;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.8);
}

.team-position {
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.eth-global {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 76px;
  height: 137px;
  background-image: url('../images/ethglobal-banner.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.eth-global__relative {
  position: relative;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.eth-global__absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.about-more-block {
  margin-top: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.eth-global__link {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 76px;
  height: 137px;
}

.half-block__desktop--right {
  width: 50%;
  text-align: right;
}

.footer-social-list {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer-social-list__item {
  width: 2rem;
  height: 2rem;
  float: right;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.team-social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  list-style-type: none;
}

.team-social-list__item {
  margin-right: 0.5rem;
  float: left;
}

@media screen and (max-width: 991px) {
  .eth-global__absolute {
    right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }
  .nav-grid {
    text-align: center;
  }
  .hero-overlay {
    padding: 40px 20px;
  }
  .team-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .team-card {
    width: 100%;
  }
  .team-card.var-m-right_medium {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
  .centered-container {
    text-align: left;
  }
  .uses-list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .use {
    width: 75%;
    margin-right: 0rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .h2 {
    font-size: 3rem;
  }
  .about-more-block {
    text-align: center;
  }
  .div-block {
    text-align: center;
  }
}

#w-node-8cdcfadd5fdd-43a85c79 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-8cdcfadd5fdd-43a85c79 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

